<button mat-icon-button  (click)="addInvitation()">
  <mat-icon>add</mat-icon>
</button>
<div *ngIf="invitations">
  <mat-nav-list>
    <mat-list-item *ngFor="let invitation of invitations; let i = index" >
      <span matLine>Email: {{invitation.receiver.email}}</span>
      <span matLine>Status: {{invitation.accept != undefined?invitation.accept?"Accepted":"Canceled":"Pending"}}</span>
      <button *ngIf="invitation.accept == undefined" mat-icon-button (click)="delete(invitation, i)">
        <mat-icon>delete</mat-icon>
      </button>
    </mat-list-item>
  </mat-nav-list>
</div>
